h1{
    
    color:blue;
    font-weight:bold;
    font-style:underline;
    
}

canvas{
   
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid red;
    border-collapse: collapse;
    background-color: black
    
}
input{
    color: blue;
    background-color: black;
    font-family: Arial;
    
}
label {
    color: #B4886B;
    width:25;
    font-weight:bold;
    width: 150px;
    height:150px;
    
    
}